.env

# compiled output
dist
build
tmp

# dependencies
node_modules

# IDEs
.idea
.history
.vscode
.project
*.launch
.settings
*.sublime-workspace

# misc
coverage
*.log

# System Files
.DS_Store
Thumbs.db

# Generated Docusaurus files
.docusaurus/
.cache-loader/
